div.main {

    text-align: center;
}

#clone-me {
    display: none;
    visibility: hidden;
}

input {

    height: 36px;
    width: 60px;
    border-radius: 4px;
    padding-left: 12px;
    font-size: 18px;
    font-weight: normal;
    border: 1px solid rgb(137, 151, 155);
    transition: border-color 150ms ease-in-out 0s;
    outline: none;
    color: rgb(33, 49, 60);
    background-color: rgb(255, 255, 255);
    padding-right: 5px;
}

input:hover {
    box-shadow: rgb(231 238 236) 0px 0px 0px 3px;
}


button {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px 20px 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms,
        background 200ms;
    background: transparent;
    color: rgb(80, 80, 80);
    box-shadow: 0 0 0 3px rgb(80, 80, 80) inset;
}

button:hover {
    transform: translateY(-2px);
}

button.delete {
    display: inline;
    color: rgb(209, 31, 31);
    box-shadow: 0 0 0 3px rgb(209, 31, 31) inset;
}

select {
    appearance: none;
    /*  safari  */
    -webkit-appearance: none;
    /*  other styles for aesthetics */
    font-size: 1.15rem;
    padding: 6px 20px 8px 4px;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: rgb(39, 39, 39);
    cursor: pointer;
}

.custom-select::before,
.custom-select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
}

.custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 40%;
}

.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
}

label {
    font-size: 20px;
}

span {
    font-size: 20px;
}

var.result_total {
    font-size: 30px;
    font-weight: bold;
}

button.calc-total {
    margin-right: 10%;
}

@media (max-width: 440px) {
    div.main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: space-around;
    }

    form {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-content: space-around;
    }

    select {
        font-size: 15px;
        padding: 4px 10px 6px 2px;
        width: 120px;
    }

    input {
        height: 20px;
        width: 50px;
        border-radius: 2px;
        padding: 4px 10px 6px 5px;
        font-size: 15px;
    }

    span {
        width: 50px;
    }

    button {
        padding: 5px 10px 5px;
        font-size: 15px;
    }

    button#clone-button {
        height: 30px;
        width: 50px;
    }

    button.calc-total {
        font-size: 18px;
    }
}
